import(
    ggplot2,
    knitr,
    markdown,
    plyr,
    pander,
    RColorBrewer,
    reshape,
    reshape2,
    RJSONIO,
    shiny,
    utils
)
importFrom(pander, 
    pandoc.table.return
)

export(
    allregions,
    aster,
    goals,
    goals_subgoals,
    goal_subgoals,
    launchApp,
    assemble.layers_data,
    check.layers_navigation,
    config.check,
    config.summary,
    md.table,
    config.check,
    config.summary,
    ohi.global.regions,
    ohi.global.regions.all,
    ohi.global.regions.eez,
    ohi.global.regions.eez.noATA,
    ohi.global.regions.highseas,
    ohi.global.regions.max,
    ohi.global.regions.noATA,
    ohi.goal.all,
    ohi.goal.labels,
    ohi.goal.subgoal.all,
    ohi.goal.subgoal.unique,
    ohi.goal.to.old.goal.component,
    ohi.labels,
    ohi.load,
    ohi.loadbin,
    ohi.model.dimensions,
    ohi.model.goal,
    ohi.model.labels,
    ohi.model.pressures,
    ohi.model.pressures.matrix,
    ohi.model.resilience,
    ohi.model.resilience.matrix,
    ohi.old.goal.component,
    ohi.old.goal.component.to.goal,
    ohi.pressure.category,
    ohi.read.csv, 
    ohi.resilience.category,
    ohi.save,
	ohi.savetxt,
    ohi.save.results,
    ohi.save.status,
    ohi.save.trend,
    ohi.save.pressures,
    ohi.save.resilience,
    ohi.savebin,
    ohi.subgoal.all,
    ohi.subgoal.parent,
    ohi.valuesets,
    ohi.version,
    ohi.write.csv,
    schemes,
    score.clamp,
    score.max,
    score.rescale,
    subgoals
)
if (getOption('ohi.extras', TRUE)) {
    export(
        apply.bycol,
        apply.byrow,
        ends.with,
        mangle,
        ohi.casestudies,
        ohi.find.file,
        ohi.model.keys,
        ohi.options,
        ohi.write.results,
        pkey,
        scenarios.cases,
        scenarios.compare,
        scenario.to.beta,
        starts.with,
        vcat,
        zstats.load
    )
}
